.toggle {
  height: 0;
  width: 0;
  visibility: hidden;
}

label.toggleLabel {
  cursor: pointer;
  /* text-indent: -9999px; */
  width: 32px;
  height: 21px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label.toggleLabel:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.1s;
}

input.toggle:checked + label.toggleLabel {
  background: #2d2d2c;
}

input.toggle:checked + label.toggleLabel:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

label.toggleLabel:active:after {
  width: 32px;
}
